version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: rgpd_backend
    ports:
      - "8000:8000"
    environment:
      - FERNET_KEY=replace_with_your_generated_key
    volumes:
      - ./backend/outputs:/app/outputs
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: rgpd_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
  mlflow:
    image: mlflow/mlflow
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    volumes:
      - ./mlruns:/mlflow/mlruns
